body{
    background: #f2f2f2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     position: relative;
}

#index-header{
    color: #424242;
    font-size: 64px;
    padding-top: 48px;
    padding-left: 30px;
}

#signin-box{
    width: 300px;
    height: 275px;
    padding: 5% 5% 5% 5%;
    background: #ffffff;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#signin-header{
    font-size: 28px;
}

#signin-button{
    background-color: blue;
    display: inline-block;
}

#index-footer{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: #313235;
    color: #f2f2f2;
}

#footer-index-text{
        margin: 0 auto;
        width: 200px;
        text-align: center;
}

#load{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background:url("http://localhost:8080/img/loading.gif") no-repeat center center;
}