#primary-info-top{
    width: 500px;
    height: 380px;
    padding: 1% 5% 1% 5%;
    background: #ffffff;
    /* position: absolute;  */
    /* top:50;
    bottom: 0;
    left: 50;
    right: 0;  */
    margin: auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    /* float: right; */
}

.p-menu{
  margin-left: 30px;
}

#sell{
   width: 1050px;
    height: 65%;
    padding: 1% 5% 3% 5%;
    background: #ffffff;
    position: absolute;
    top:50;
    bottom: 0;
    left: 50;
    right: 0;
    margin: auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    float: right;
}

.book-input{
  width: 300px;
}

.book-input2{
  width: 100px;
}

#orders,#search-books{
    margin: 30 0 30 0;
    padding-bottom: 100;
    padding-left: 10;
    position: absolute;
    width: 1300px;
    /*height: 1000px;*/
    left: 150;
    /*border: 10px solid black;*/
}

.book{
    position: relative;
    display: inline-block;
    width: 27%;
    height: 40%;
    margin: 30 30 0 50;
    /*border: 10px solid black;*/
}

.book:hover{
    box-shadow: 0 6px 12px rgba(0,0,0,0.16), 0 6px 12px rgba(0,0,0,0.23);
    cursor: hand;
}

#sell,#primary-info,#search-books{
  display:none;

}

#tabs{
    width: 350px;
    height: 120px;
    padding: 0% 5% 0% 5%;
    /*background: #ffffff;*/
    position: sticky;
    top:50;
    bottom: 0;
    left: 40;
    margin: auto;
    margin-right: 90px;
    margin-top: 150px;
    /*box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/
    float: left;
    font-size: 64px;
}

#primary-info-tab:hover,#sell-tab:hover,#orders-tab:hover{
    cursor: hand;
    color: green;
    font-weight: bold;
}

#contents{
  overflow:scroll;
  height: 100px;
}

#footer-user{
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #313235;
  color: #f2f2f2;
  text-align: center;
  width: 100%;
}



input[type="file"] {
    display: none;
}
.custom-file-upload{
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    margin: 20px;
}

#img1-base64,#img2-base64,#img3-base64{
  display: none;
}

#photos-validation-button{
  display: none;
}

#post-book{
  bottom: -5;
  right: -280;
  border-radius: 100%;
  width: 10px;
  height: 60px;
  font-size: 32px;
}

.price,#cost{
  font-size: 20px;
  color: crimson;
  float: left;
}

.book-title,#book-title-modal{
  font-size: 18px;
  color: navy;
}

.book-condition{
  background: seagreen;
  color: white;
  font-family: bold;
  padding: 0 5 0 5;
  box-shadow: 0 0 3px rgba(0,0,0,0.16), 0 3px 3px rgba(0,0,0,0.23);
  font-size: 10px;
  float: right;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#book-condition-modal{
  background: seagreen;
  color: white;
  display: inline-block;
  font-family: bold;
  padding: 0 5 0 5;
  box-shadow: 0 0 3px rgba(0,0,0,0.16), 0 3px 3px rgba(0,0,0,0.23);
  font-size: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.book-info{
  background: black;
  color: white;
  padding: 5 5 5 5;
  box-shadow: 0 0 3px rgba(0,0,0,0.16), 0 3px 3px rgba(0,0,0,0.23);
  font-size: 15px;
  font-weight: lighter;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: -23;
  margin-top: 5px;
  margin-bottom: -15px;
}

.book-date{
  font-size: 10px;
}

.photo_id{
  display: none;
}

.modal{
  width: 50%;
}

#book-photos-modal{
  float: left;
  margin-right: 50px;
}

.modal-footer{
  margin-top: 50px;
}

#edit-contact,#cancel-mobile-edit{
  font-size: 18px;
}
#edit-contact:hover,#cancel-mobile-edit:hover{
  font-size: 24px;
  cursor: hand;
}

#mobile-edit{
  width: 120px;
}

#search-box{
  width: 900px;
  height: 50;
  background: white;
  border: none;
  outline-color: white;
  left: 200;
  right: 0;
  top: -80;
  margin: auto;
  position: absolute;
  font-size: 16px;
  padding: 0 5 0 20;
}

#logout{
  position:absolute;
  top:55;
  right:50;
  font-weight: lighter;
}

#logout:hover{
  cursor: hand;
  color: red;
}

#primary-info-bottom{
    width: 900px;
    height: 365px;
    padding: 1% 5% 1% 5%;
    /* background: #ffffff; */
    /* position: relative; */
    /* top:100;
    bottom: 0;
    left: 50;
    right: 0; */
    margin: auto;
    /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
    margin-bottom: 100;
}

#orders-table{
  border: 1px dashed black;
}

#book-id{
  display: none;
}

.remove-book:hover{
  cursor: hand;
  color: crimson;
}

.add-removed-book:hover{
  cursor: hand;
  color: green;
}

.available{
  display: none;
}

#book-edit-modal{
  padding: 2% 5% 2% 5%;
}

.edit-book:hover{
  cursor: hand;
  color: green;
}

hr{
  width: 80%;
  margin-left: 150;
}

#no-books{
  display: none;
}
